.videoCard{
    margin-bottom: 40px;
    width: 280px;
}

.videoCard_thumbnails{
    height: 150px;
    width: 240px;
}

.videoCard_info{
    display: flex;
    margin-top: 10px;
    padding-right: 40px;
}

.videoCard_text{
    margin-left: 15px;
}

.videoCard_text > h4 {
    font-size: 15px;
    margin-bottom: 6px ;
}

.videoCard_text > p {
    font-size: 15px;
    color: gray;
}

.videoCard_avatar{
    height: 40px !important;
    width: 40px !important;
}